ADWALL_API_URL=https://adwall.io/api/graphql
ADWALL_STATS_API_URL=https://adwall.io/stats-api/graphql
ADWALL_PROXIES_API_URL=https://adwall.io/proxies-api/graphql
ADWALL_ADMIN_API_URL=https://adwall.io/admin-api/graphql
ADWALL_EMAIL=
ADWALL_PASSWORD=
ADWALL_SESSION_FILE=.adwall-session.json
ADWALL_TIMEOUT=60
